 .navbar {
    width: 100%; 
    padding: 2px; 
 }

 .navbar ul { 
    list-style-type: none;
    display: flex; 
    gap: 35px;
    margin-right: 100px; 
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
    justify-content: right;
 }

 .section01 {
    display: flex; 
    gap: 49px;
    justify-content: center; 
    border-bottom: solid 1px; 
 }

 .section1 {  
    padding-bottom: 199px;
    padding-top: 129px;
    justify-content: center; 
 }
/*
 MOBILE RESPONSIVENESS 
 @media (min-width: 390px) {

   .section01 { 
      display: block;
      gap: 0px;
      padding: 0px;
   }

   .section1 img {
      margin: 0px;
      padding: 0px;
   }

   .section11 {
      margin: 0px;
      padding-bottom: 0px;
      padding-top: 0px;
      font-size: xx-small;
   }
   
 } */

 .section11 { 
    padding-bottom: 169px;
    padding-top: 139px;
    justify-content: center; 
    font-size: xx-large;
 }   

 .section12 { 
    margin-top: 389px;
    gap: 0px;
    align-content: left; 
 }

 .section02 {
    display: inline-flex; 
    font-weight: lighter;
    justify-content: center;
    margin: 59px;
    gap: 15%;
    padding: 15px;
 }  

 .section021 {
    width: 50%;
    float: left;
    justify-content: center;
    margin: 0%;
 }

 .section022 {
    margin: 0%;
    width: 50%;
    float: left;
    font-size: 12px;
    justify-content: center;
 }

 .framepic {
    display: flex;
    justify-content: center;
    border-bottom: solid 1px;
    padding-bottom: 100px;
 } 

 .framepic img { 
   height: 480px;
   width: 889px;
 }
 
 /*
 @media (max-width: 390px) {
   .framepic img {
      height: 229px;
      width: 389px;
   }
 } */

 .section03 {
   display: inline-flex; 
   font-weight: lighter;
   justify-content: center;
   margin: 59px;
   gap: 15%;
   padding: 15px;
}  

.section031 {
   width: 50%;
   float: left;
   justify-content: center;
   margin: 0%;
}

.section032 {
   margin: 0%;
   width: 50%;
   float: left;
   font-size: 12px;
   justify-content: center;
}

.framepic1 {
   display: flex;
   justify-content: center;
   border-bottom: solid 1px;
   padding-bottom: 100px;
}